.column {
	display: flex;
	flex-flow: column;
}

.row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.konvajs-content {
	border: 1px black;
	border-style: solid none;
}

fieldset {
	padding: 10px;
	border: 1px solid lightgrey;
	margin: 0px 3px;
}

@media (min-width: 502px) {
	.konvajs-content {
		border-style: solid;
	}
}
