.Robot {
  text-align: center;
}

div {
	display: flex;
}

.column {
	flex-direction: column;
}

.column > div {
}

.row {
	flex-flow: row wrap;
}

.sliders {
	margin: 10px 0px;
	flex-wrap: wrap;
	justify-content: center;
}
